<div fxLayout="row" fxLayoutAlign="start stretch">
  <mat-form-field appearance="fill">
    <mat-label>{{
      "PAGES.SETTINGS.DRAGONS.TIMETOSPAWN" | translate
    }}</mat-label>
    <input name="TIMETOSPAWN" matInput [(ngModel)]="timer.time" />
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ "PAGES.SETTINGS.MAP" | translate }}</mat-label>
      <mat-select name="mapName" [(ngModel)]="timer.mapName" matInput>
        <mat-option *ngFor="let ledMap of ledMaps" [value]="ledMap.name">
          {{ ledMap.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" *ngFor="let item of timer.colors; let i = index">
    <input
      class="picker"
      [cpOutputFormat]="'rgba'"
      [cpAlphaChannel]="'disabled'"
      [(colorPicker)]="colors[i]"
      [style.background]="colors[i]"
      (colorPickerSelect)="toColor(colors[i], i)"
    />
    <mat-icon class="removeIcon" (click)="removeColor(i)">
      remove_circle
    </mat-icon>
  </div>
  <mat-icon class="addIcon" (click)="addNewColor()"> add_circle </mat-icon>
</div>
<br />
