<div fxLayout="column">
  <form
    class="example-form"
    [formGroup]="formGroup"
    ngNativeValidate
  >
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.MAIN.TITLE' | translate }} </mat-panel-title>
          <mat-panel-description class="buttonInDescription">
            <mat-slide-toggle
              formControlName="mainActive"
              (click)="toggle($event)"
            ></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'PAGES.SETTINGS.MAIN.PORT' | translate }}</mat-label>
              <input matInput formControlName="port" />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
 
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.DRAGONS.TITLE' | translate }} </mat-panel-title>
          <mat-panel-description class="buttonInDescription">
            <mat-slide-toggle
              formControlName="dragonsActive"
              (click)="toggle($event)"
            ></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <button mat-button (click)="test()">Basic</button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
