<mat-toolbar>
	<span>{{'APPNAME' | translate}}</span>
	<span class="spacer"></span>
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<span [className]="'fi fi-' + translate.currentLang"></span>
	  </button> 
	  <mat-menu #menu="matMenu">
		<button mat-menu-item *ngFor="let lang of translate.getLangs()"  (click)="translate.use(lang); settings.lang=lang" ><span [className]="'fi fi-' + lang"></span><span style="margin-left: 20px;">{{lang | uppercase}}</span></button>
	  </mat-menu>
  
  </mat-toolbar>
<div fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.MAIN.TITLE' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'PAGES.SETTINGS.MAIN.GAMEPORT' | translate }}</mat-label>
              <input name="gamePort" matInput [(ngModel)]="settings.main.gamePort" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'PAGES.SETTINGS.MAIN.DYGMAPORT' | translate }}</mat-label>
              <input name="dygmaPort" matInput [(ngModel)]="settings.main.dygmaPort" />
            </mat-form-field>
            
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
 
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.DRAGONS.TITLE' | translate }} </mat-panel-title>
          <mat-panel-description class="buttonInDescription">
            <mat-slide-toggle
              (click)="toggle($event)" [(ngModel)]="settings.dragons.active"
            ></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
              <div *ngFor="let item of settings.dragons.timers">
                <app-timer [timer]=item ></app-timer>
              </div>
              <button class="buttons" mat-raised-button (click)="addNewTimer('dragons')">{{ 'PAGES.SETTINGS.DRAGONS.ADDNEW' | translate }} </button>
              <button class="buttons" mat-raised-button (click)="removeTimer('dragons')">{{ 'PAGES.SETTINGS.DRAGONS.REMOVE' | translate }} </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.BARON.TITLE' | translate }} </mat-panel-title>
          <mat-panel-description class="buttonInDescription">
            <mat-slide-toggle
              (click)="toggle($event)" [(ngModel)]="settings.baron.active"
            ></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
              <div *ngFor="let item of settings.baron.timers">
                <app-timer [timer]=item ></app-timer>
              </div>
              <button class="buttons" mat-raised-button (click)="addNewTimer('baron')">{{ 'PAGES.SETTINGS.DRAGONS.ADDNEW' | translate }} </button>
              <button class="buttons" mat-raised-button (click)="removeTimer('baron')">{{ 'PAGES.SETTINGS.DRAGONS.REMOVE' | translate }} </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'PAGES.SETTINGS.HERALD.TITLE' | translate }} </mat-panel-title>
          <mat-panel-description class="buttonInDescription">
            <mat-slide-toggle
              (click)="toggle($event)" [(ngModel)]="settings.herald.active"
            ></mat-slide-toggle>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
              <div *ngFor="let item of settings.herald.timers">
                <app-timer [timer]=item ></app-timer>
              </div>
              <button class="buttons" mat-raised-button (click)="addNewTimer('herald')">{{ 'PAGES.SETTINGS.DRAGONS.ADDNEW' | translate }} </button>
              <button class="buttons" mat-raised-button (click)="removeTimer('herald')">{{ 'PAGES.SETTINGS.DRAGONS.REMOVE' | translate }} </button>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
    <br/>
    <button mat-raised-button (click)="save()">{{ 'PAGES.SETTINGS.SAVE' | translate }} </button>
</div>
